/* Resetando margens, padding e aplicando box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* Estilo global para a página */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7; /* Cor mais neutra */
  position: relative;
  overflow: hidden; /* Evita rolagem devido ao pseudo-elemento */
}

body::before {
  content: ''; /* Cria o pseudo-elemento */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../login/background image.jpg'); /* URL da imagem */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(8px);
  z-index: -1;
}

/* Container geral com centralização e leve transparência */
.container {
  width: 80%;
  max-width: 800px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9); /* Mais sutil e suave que a versão anterior */
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Títulos */
h1 {
  font-size: 2em;
  color: #333;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #555;
}

/* Estilo para botões com transições */
button {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: #007bff;
  color: white;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

#criarMesa {
  background-color: #4CAF50;
}

#removerMesa {
  background-color:#F44336;
}

/* Estilo dos campos de entrada */
input[type="text"], input[type="number"] {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  transition: border-color 0.3s ease;
}

/* Foco nos campos de entrada */
input[type="text"]:focus, input[type="number"]:focus {
  border-color: #66afe9; /* Cor de foco suave */
  outline: none;
}

/* Estilo geral do botão de voltar */
#backButton {
  background-color: #dc3545; /* Cor de fundo verde */
  color: white; /* Texto branco */
  border: none; /* Remove a borda */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  cursor: pointer; /* Aponta para o cursor de clique */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Efeito de transição para mudança de cor */
  position: fixed; /* Fixa o botão na tela */
  top: 20px; /* Distância de 20px da parte superior */
  left: 20px; /* Distância de 20px da parte esquerda */
  z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}

#backButton:hover {
  background-color: #a32a36; /* Cor de fundo mais escura quando o mouse passa por cima */
}

#backButton:focus {
  outline: none; /* Remove o contorno padrão ao focar */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adiciona um efeito de foco com sombra azul */
}

/* Estilos dos modais */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  padding-top: 60px;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 30px;
  margin: 5% auto;
  border-radius: 8px;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.modal-content h2 {
  text-align: center;
}

/* Estilos para os itens no modal */
.item-cardapio {
  display: flex;
  justify-content: space-between; /* Garante que os itens se distribuam com espaço entre eles */
  align-items: center; /* Alinha verticalmente os itens no centro */
  margin: 10px 0;
  padding: 10px 0; /* Adiciona um pouco de espaçamento interno */
  border-bottom: 1px solid #ccc; /* Linha sutil para separar os itens */
}

/* Ajuste para os botões dentro do item-cardapio */
.item-cardapio button {
  margin: 0 5px; /* Garante que os botões não se sobreponham */
  padding: 5px 10px; /* Espaçamento adequado para os botões */
  font-size: 14px; /* Ajusta o tamanho da fonte para botões */
  cursor: pointer; /* Indica que é interativo */
}

/* Adiciona estilo ao item-cardapio quando estiver selecionado ou em hover */
.item-cardapio:hover {
  background-color: #f0f0f0; /* Dá um destaque suave quando o mouse passar por cima */
  border-radius: 5px; /* Suaviza os cantos para uma aparência mais amigável */
}

#revisarPedido {
  background-color: #FF9800;
  border-color: #FF9800;
}

#revisarPedido:hover {
  background-color: #FF8C00;
  border-color: #FF8C00;
}

/* Estilos de visualização da lista de mesas */
#mesas {
  display: grid;
  grid-template-columns: repeat(5, 2fr); /* 5 colunas de tamanho igual */
  gap: 10px; /* Espaçamento entre as mesas */
  margin-top: 20px;
  width: 100%;
  justify-items: center; /* Alinha as mesas ao centro horizontalmente */
  max-height: 400px; /* Define uma altura máxima para o container */
  overflow-y: auto; /* Adiciona o scroll vertical quando o conteúdo excede a altura */
}

/* Cada mesa */
.mesa {
  background-color: #ddd;
  padding: 10px 20px;
  margin: 0; /* Removido o margin, pois o grid já lida com o espaçamento */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-align: center; /* Centraliza o texto dentro da mesa */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Ajuste para um tamanho consistente */
}

/* Mesas livres */
.mesa.livre {
  background-color: #4CAF50;
  color: white;
}

/* Mesas ocupadas */
.mesa.ocupada {
  background-color: #F44336;
  color: white;
}

/* Efeito de hover nas mesas */
.mesa:hover {
  transform: scale(1.05); /* Leve aumento */
  opacity: 0.9; /* Leve transparência */
}

/* Responsividade: Ajustando a quantidade de colunas dependendo da largura da tela */
@media (max-width: 1200px) {
  #mesas {
      grid-template-columns: repeat(4, 1fr); /* 4 colunas para telas menores */
  }
}

@media (max-width: 900px) {
  #mesas {
      grid-template-columns: repeat(3, 1fr); /* 3 colunas para telas médias */
  }
}

@media (max-width: 600px) {
  #mesas {
      grid-template-columns: repeat(2, 1fr); /* 2 colunas para telas pequenas */
  }
}

@media (max-width: 400px) {
  #mesas {
      grid-template-columns: 1fr; /* 1 coluna para telas muito pequenas */
  }
}
/* Estilos para os botões de fechamento */
button#fecharModal, button#fecharCardapioModal, button#fecharRevisarPedidoModal {
  background-color: #F44336;
  border-color: #F44336;
}

button#fecharModal:hover, button#fecharCardapioModal:hover, button#fecharRevisarPedidoModal:hover {
  background-color: #D32F2F;
  border-color: #D32F2F;
}

/* Estilo básico para o feedback */
.feedback-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  display: none; /* Começa oculto */
  z-index: 1000;
  max-width: 90%;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
}

/* Mostrar o feedback */
.feedback-message.show {
  display: block;
  opacity: 1;
}

/* Feedback de erro */
.feedback-message.error {
  background-color: rgba(255, 0, 0, 0.7);
}

/* Feedback de sucesso */
.feedback-message.success {
  background-color: rgba(0, 255, 0, 0.7);
}

#criarMesa, #removerMesa {
  display: none;
}
#revisarItens {
  list-style-type: none; /* Remove os pontos de lista */
  padding: 0; /* Remove o padding, se necessário */
  margin: 0; /* Remove a margem, se necessário */
}
#itensOcupados {
  list-style-type: none; /* Remove os pontos da lista */
  padding-left: 0; /* Remove a indentação da lista */
}