/* Resetando margens, padding e aplicando box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f8ff;
    position: relative; /* Necessário para o posicionamento do pseudo-elemento */
    overflow: hidden; /* Evita rolagem devido ao pseudo-elemento */
}

body::before {
    content: ''; /* Cria o pseudo-elemento */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../login/background image.jpg'); /* URL da imagem */
    background-size: cover; /* Faz com que a imagem cubra toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-attachment: fixed; /* A imagem de fundo permanece fixa */
    filter: blur(8px); /* Aplica o efeito de desfoque */
    z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
}

.container {
    width: 80%;
    max-width: 800px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semitransparente para contraste */
    padding: 20px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#addItemForm {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    text-align: left;
}

#addItemForm input[type="text"],
#addItemForm input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#addItemForm label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#addItemForm button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addItemForm button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

#addItemForm button:active {
    transform: scale(0.95); /* Efeito de pressionar */
}


#resultContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    max-height: 70vh; /* Altura máxima de 70% da viewport */
    overflow-y: auto; /* Scroll vertical quando necessário */
    padding-right: 10px; /* Espaço para a barra de rolagem */
}

.resultItem {
    width: calc(50% - 10px);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.resultItem:hover {
    transform: translateY(-5px); /* Efeito de "levitar" ao passar o mouse */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.resultItem h2 {
    font-size: 18px;
    color: #007bff;
    margin-bottom: 10px;
}

.resultItem p {
    font-size: 14px;
    color: #555;
}

.resultItem .price {
    font-weight: bold;
    color: #28a745;
}

.resultItem .preparation {
    font-size: 13px;
    color: #888;
}

button {
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

/* Estilos Específicos */
.edit-button {
    margin-top: 10px; /* Adiciona um espaço de 10px acima dos botões */
    background-color: #ffc107;
    color: #fff;
}

.edit-button:hover {
    background-color: #e0a800;
    transform: scale(1.05);
}

.delete-button {
    margin-top: 10px; /* Adiciona um espaço de 10px acima dos botões */
    background-color: #dc3545;
    color: #fff;
}

.delete-button:hover {
    background-color: #c82333;
    transform: scale(1.05);
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close:hover {
    color: #ff0000; /* Mudança de cor ao passar o mouse */
}

h2 {
    margin-bottom: 20px;
    color: #007bff; /* Cor do título do modal */
}

#editModal input[type="text"],
#editModal input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#editModal label {
    margin-bottom: 15px;
    display: block; /* Cada label ocupa uma linha */
}

#saveEdit {
    padding: 10px;
    background-color: #28a745; /* Cor verde para salvar */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#saveEdit:hover {
    background-color: #218838; /* Escurece ao passar o mouse */
}

/* Animação do Modal */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#openModal {
    padding: 10px 20px;
    background-color: #007bff; /* Cor azul */
    color: #fff; /* Texto branco */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px; /* Espaço inferior */
    transition: background-color 0.3s, transform 0.2s; /* Transições suaves */
}

#openModal:hover {
    background-color: #0056b3; /* Cor azul mais escura ao passar o mouse */
    transform: scale(1.05); /* Leve aumento ao passar o mouse */
}

#openModal:active {
    transform: scale(0.95); /* Efeito de pressionar */
}

/* Estilo geral do botão de voltar */
#backButton {
    background-color: #dc3545; /* Cor de fundo verde */
    color: white; /* Texto branco */
    border: none; /* Remove a borda */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Aponta para o cursor de clique */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Efeito de transição para mudança de cor */
    position: fixed; /* Fixa o botão na tela */
    top: 20px; /* Distância de 20px da parte superior */
    left: 20px; /* Distância de 20px da parte esquerda */
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}

#backButton:hover {
    background-color: #a32a36; /* Cor de fundo mais escura quando o mouse passa por cima */
}

#backButton:focus {
    outline: none; /* Remove o contorno padrão ao focar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adiciona um efeito de foco com sombra azul */
}

/* Modal de Confirmação de Exclusão */
#deleteConfirmationModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

#deleteConfirmationModal .modal-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#deleteConfirmationModal h2 {
    margin-bottom: 20px;
    color: #dc3545; /* Cor vermelha para título de alerta */
}

#deleteConfirmationModal button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#deleteConfirmationModal #confirmDelete {
    background-color: #dc3545; /* Cor de fundo para confirmação */
    color: #fff;
}

#deleteConfirmationModal #cancelDelete {
    background-color: #28a745; /* Cor verde para cancelar */
    color: #fff;
    margin-left: 10px;
}

#deleteConfirmationModal button:hover {
    opacity: 0.9;
}
